body {
    background-image: url(../images/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 60px;
}

.mensagem-principal {
    width: 300px;
    color: #fff;
}

.mensagem-principal .titulo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 11px;
}

.mensagem-principal .paragrafo {
    font-size: 15px;
    font-weight: 500;
}

.formulario {
    max-width: 340px;
    height: 378px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.formulario .item {
    width: 300px;
    height: 35px;
    padding-left: 9px;
}

.formulario .item.borda {
    border: 1px solid #000;
    border-radius: 5px;
}

.formulario .item::placeholder {
    color: #a8a8a8;
    font-weight: 700;
    font-size: 15px;
}

.formulario .item.mensagem {
    height: 100px;
}

.formulario .botao {
    color: #fff;
    background-color: #3CCC87;
    border-radius: 5px;
    border: none;
    height: 41px;
    cursor: pointer;
}

.formulario .campo-obrigatorio {
    position: absolute;
    font-size: 8px;
    color: #F52E2E;
    display: none;
}

.formulario .alerta {
    display: block;
}

.formulario .campos-obrigatorios {
    font-size: 15px;
}

.campo-vazio {
    border: 2px solid #f52e2e;
    border-radius: 5px;
}

.campo-preenchido {
    border: 2px solid #3CCC87;
    border-radius: 5px;
}